<!--
  This configuration file is used for authentication when deploying artifacts
  to the Sonatype OSSRH repository (Maven Central). The environment variables
  SONATYPE_USERNAME and SONATYPE_TOKEN are passed via GitHub Secrets.
-->

<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${{ secrets.SONATYPE_USERNAME }}</username>
      <password>${{ secrets.SONATYPE_TOKEN }}</password>
    </server>
  </servers>
</settings>